<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcp">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/WCFSiplex.svc/WCFSiplex"
                binding="basicHttpBinding" bindingConfiguration="http" contract="SiplexService.IWCFSiplex"
                name="http" />
            <endpoint address="net.tcp://localhost:9091/WCFSiplex.svc/TcpWCFSiplex"
                binding="netTcpBinding" bindingConfiguration="tcp" contract="SiplexService.IWCFSiplex"
                name="tcp">
                <identity>
                    <userPrincipalName value="DESKTOP-JF01800\Артём" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>