<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58061/StudentNotesModify.svc/StudentNotesModify"
                binding="basicHttpBinding" bindingConfiguration="http" contract="StudentNotesModifyService.IStudentNotesModify"
                name="http" />
        </client>
    </system.serviceModel>
</configuration>
