<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basic">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Lab5_WCF.WCFSiplex" behaviorConfiguration="basic">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/WCFSiplex.svc" />
            <add baseAddress="net.tcp://localhost:9091/WCFSiplex.svc" />
          </baseAddresses>
        </host>
        <endpoint name="http"
                  address="WCFSiplex"
                  binding="basicHttpBinding"
                  contract="Lab5_WCF.IWCFSiplex" />
        <endpoint name="tcp"
                  address="net.tcp://localhost:9091/WCFSiplex.svc/TcpWCFSiplex"
                  binding="netTcpBinding"
                  contract="Lab5_WCF.IWCFSiplex" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint contract="IMetadataExchange" binding="mexTcpBinding" address="net.tcp://localhost:9091/WCFSiplex.svc/mexTcp" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="netTcpBinding" scheme="net.tcp" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
